<h2 class="title is-2">Reset password</h2>

<%= form_for @changeset, @action, [as: :user], fn f -> %>
  <%= BulmaForm.flash_if_error(@changeset) %>

  <div class="field">
    <%= BulmaForm.label f, :email %>
    <%= BulmaForm.text_input f, :email %>
    <%= error_tag f, :email %>
  </div>

  <%= BulmaForm.submit "Submit", [class: "is-link"] %>
<% end %>
